<h2> Add new post </h2>

<<<<<<< HEAD
    <form action = "/new" method="POST" role = "form">
        <textarea name = "content" style="width:600px" class="form-control" rows="6" placeholder="Type post text "></textarea>
=======
    <form cation = "/new" method="POST" role = "form">
        <textarea style="width:600px" class="form-control" rows="6" ></textarea>
>>>>>>> 411c44a6dafb713c64664403f6a788afa727b996
        <br />
        <button type="submit" class="btn btn-danger">Add Post</button>
    </form>
